.nav {
    display: flex;
    background-color: greenyellow;
    height: 80px;
    text-align: center;
    
}
.item{
    flex-basis: 500px;
    flex-shrink: 1;
    padding-top: 25px;
    border-bottom: 3px solid #B9C2C8;
}
.nav .item{
    background-color: white;
    display: block;
    text-decoration: none;
    color: #49A4E7;
    font-size: 30px;
}

.nav .item:hover {
    color: #124DE6;
    transition: .2s;
}
.holy{
    display:flex;
    flex-direction: row;
    border-top: 3px solid #B9C2C8;
    background-color: pink;
    
}

.empty{
    flex-basis: 10px;
    flex-grow: 1;
    border-right: 6px solid #B9C2C8;
    flex-shrink: 0;
}
main{
    flex-basis: 10px;
    flex-grow: 1;
    flex-shrink: 0;
}
.holy-item{
    border-right: 6px solid #B9C2C8;
    flex-grow: 3;
    

}


.bottom{
    flex-direction: column-reverse;
    border-top: 3px solid #B9C2C8;
}
.holy ol{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 30px;
}
