.nav {
    display: flex;
    background-color: greenyellow;
    height: 80px;
    text-align: center;
    
}
.item{
    flex-basis: 500px;
    flex-shrink: 1;
    padding-top: 25px;
    border-bottom: 3px solid #B9C2C8;
}
.nav .item{
    background-color: white;
    display: block;
    text-decoration: none;
    color: #49A4E7;
    font-size: 30px;
}

.nav .item:hover {
    color: #124DE6;
    transition: .2s;
}
.holy-item{
    display:flex;
    flex-direction: column;
}