
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 25px;
}

#grid .edge {
    border-right: 1px black solid;
    padding: 10px;
    text-align: center;
}

h1 {
    display: inline;
}

#change:hover {
    color: aqua;
    transition: color .2s;
}

#grid a {
    display: block;
    padding: 50px;
    text-decoration-line: none;
}

#grid #change {
    display: block;
    padding: 50px;
}
